{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clases/style.css' %}">
<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'create_class' %}">Crear Clase</a>
    <a href="{% url 'modify_class_list' %}">Modificar Clase</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'global_view' %}">horario global</a>
    <a href="{% url 'delete_class' %}">Borrar Clase</a>
    
</nav>
<div class="container">
    <h2>Crear Clase</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Crear">
    </form>
</div>